body {
    background: url(../images/bg1.png)
}

/*导航条*/
.zqh_nav_top {
    height: 50px !important;
}

.zqh_text_font {
    font-size: 40px;
}


.zqh_nav_padded {
    padding-top: 1.2em !important;
    padding-bottom: 1.2em !important;
}

.zqh_nav_margin {
    margin-top: 0.1em !important;
}


/*轮播图*/

/* 设置图片透明 */
.zqh_img_car {
    width: 1000px;
    height: 550px;
    opacity: 0.3;
    filter: alpha(opacity=30);
    -moz-opacity:0.3;
    z-index: 3;
}

.zqh_p_car {
    font-size: 20px;
}


/*布局*/

.zqh_fixed {
    position: fixed !important;
}

.zqh_left_top {
    left: 25px !important;
    top: 500px !important;
}


/*按钮*/

.zqh_btn_padded {
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
}



/*footer*/

.zqh_footer {
    padding-top: 5.5em !important;
    padding-bottom: 5.5em !important;
    background-color: black !important;
}

.zqh_footer_line {
    width: 0.1px;
    height: 30px;
    background-color: #ffffff;
}


