input[type="radio"], input[type="checkbox"]{margin: 4px 0 0; margin-top: 1px \ 9; line-height: normal;}
input[type="checkbox"], input[type="radio"]{ padding: 0; box-sizing: border-box;}
.padding5{padding: 5px;}
.ptb10{padding:10px 0;}
.mtb10{margin:10px 0;}
.mr10{margin-right: 10px;}
.l-f{float: left;}
.r-f{float: right;}
.clearfix:after{
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
	clear: both;
	font-size: 0;
	line-height: 0;
}

/************单选框复选框美化样式*************/
input[type=checkbox].ace,input[type=radio].ace
{
  opacity: 0;
  position: absolute;
  z-index: 12;
  width: 16px;
  height: 16px;
  cursor: pointer;
  top:0px;
  left:0px;
  margin:0px;
}
input[type=checkbox].ace:checked,input[type=radio].ace:checked,
input[type=checkbox].ace:focus,input[type=radio].ace:focus{outline: none!important;}
input[type=checkbox].ace+.lbl,
input[type=radio].ace+.lbl
{
  position: relative;
  z-index: 11;
  display: inline-block;
  margin: 0;
  line-height: 16px;
  min-height: 16px;
  min-width: 16px;
  font-weight: normal;
  margin-top:0px;
  top:0px;
}
input[type=radio].ace+.lbl::before {
    border-radius: 100%;
    font-size: 11px;
    font-family: FontAwesome;
    line-height: 15px;
    height: 16px;
    min-width: 16px;
}
input[type=checkbox].ace+.lbl::before,
input[type=radio].ace+.lbl::before
{
  font-family: iconfont;
  font-weight: normal;
  font-size: 12px;
  color: #32a3ce;
  content: "\a0";
  background-color: #fafafa;
  border: 1px solid #c8c8c8;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  border-radius: 0;
  display: inline-block;
  text-align: center;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
  margin-right: 5px;
  margin-top:0px;
}
input[type=checkbox].ace:checked+.lbl::before,
input[type=radio].ace:checked+.lbl::before
{
  display: inline-block;
  content: '\e712';
  background-color: #f5f8fc;
  border-color: #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05),inset 0 -15px 10px -12px rgba(0,0,0,0.05),inset 15px 10px -12px rgba(255,255,255,0.1);
}
input[type=checkbox].ace:hover+.lbl::before,input[type=radio].ace:hover+.lbl::before,
input[type=checkbox].ace+.lbl:hover::before,input[type=radio].ace+.lbl:hover::before{border-color: #ff893c;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    border-radius: 0!important;
    color: #666666;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    padding: 5px 5px;
    line-height: 1.2;
    font-size: 12px;
    height: 35px;
    font-family: inherit;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}
/***************搜索样式美化**********************/
.search-style{ 
    height: 37px;
    width: 350px;
    position: relative;
    /* border: solid; */
    border: 1px solid #DDDDDD;
}
.search-style .input-text{width: 175px;border:0px}
.search-style .btn{position:absolute; right:0px; top:0px;border-radius:0px;height:35px;}

.table{ width:100%; text-align:center; font-size:12px;border-spacing: 0; border: 0;}
.table-bordered{border:1px solid #DDDDDD}
.table td{ padding:0px 10px; }
.table td a.name{ color:#438EB9}
.table_list { line-height:30px;}
.table_list thead{ background-color:#ededed; }
.table_list thead th{text-align:center;font-weight:inherit!important;}
